<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>modal</title>
</head>
<body>

<table class="table no-border" th:fragment="form-modal">
    <tbody>
    <tr>
        <td>
            <label for="loginName-add" class="col-sm-4 text-center">登录名</label>
            <div class="col-sm-8">
                <input class="form-control" id="loginName-add" name="loginName" placeholder="请输入登录名" v-model="loginName">
            </div>
        </td>

        <td rowspan="5">
            <label for="headPortrait-add" class="col-sm-4 text-center">头像</label>
            <div class="col-sm-6">
                <input name="headPortrait" type="hidden" v-model="headPortrait">
                <input id="headPortrait-add" type="file" class="file-loading" name="file">
                <div id="kv-success-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Yippee!</h4>
                            </div>
                            <div id="kv-success-box" class="modal-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <label for="nickName-add" class="col-sm-4 text-center">昵称</label>
            <div class="col-sm-8">
                <input class="form-control" id="nickName-add" name="nickName" placeholder="请输入昵称" v-model="nickName">
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <label for="password-add" class="col-sm-4 text-center">密码</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="password-add" name="password" placeholder="请输入密码" v-model="password">
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <label for="mobile-add" class="col-sm-4 text-center">联系电话</label>
            <div class="col-sm-8">
                <input class="form-control" id="mobile-add" name="mobile" placeholder="请输入联系电话" v-model="mobile">
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <label for="email-add" class="col-sm-4 text-center">邮箱</label>
            <div class="col-sm-8">
                <input class="form-control" id="email-add" name="email" placeholder="请输入邮箱" v-model="email">
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <label for="buildinSystem-add" class="col-sm-4 text-center">系统内置</label>
            <div class="col-sm-8">
                <select id="buildinSystem-add" name="buildinSystem" class="form-control" v-model="buildinSystem">
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </div>
        </td>
        <td>
            <label for="status-add" class="col-sm-4 text-center">账号状态</label>
            <div class="col-sm-8">
                <select id="status-add" name="status" class="form-control" v-model="status">
                    <option value="ACTIVE">有效</option>
                    <option value="INVALID">无效</option>
                </select>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <label class="col-sm-2 text-center">角色</label>
            <div class="col-sm-10 role-list">
                <ul style="padding-left: 15px;">
                    <li v-for="role in roleList" style="list-style:none;">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox" :value="role.id" v-model="checkedRole"> {{role.name}}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <label for="remark-add" class="col-sm-2 text-center">备注</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" id="remark-add" name="remark" placeholder="请输入..."></textarea>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>