<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Admin User List</title>
</head>
<body>
<aside id="list-modal" class="list-sidebar" th:fragment="list-modal">
    <div id="toolbar">
        <div id="button-group">
			<button id="add-btn" class="btn btn-info">
				<i class="glyphicon glyphicon-plus"></i> 添加
			</button>
			<button id="remove-btn" class="btn btn-info" disabled>
				<i class="glyphicon glyphicon-remove"></i> 删除
			</button>
		</div>

		<div id="search-group" style="margin-left: -2%;margin-top: 1%;">
            <div class="form-group col-xs-4 col-md-4">
				<input class="form-control search_value" v-model="loginName" placeholder="登录名">
			</div>

			<div class="form-group col-xs-3 col-md-3">
                <select class="form-control selectpicker search_value" v-model="status" title="账号状态">
                    <option value="">账号状态</option>
                    <option value="ACTIVE">有效</option>
                    <option value="INVALID">无效</option>
                </select>
			</div>

			<div class="form-group col-xs-3 col-md-3">
                <select class="form-control selectpicker search_value" v-model="buildinSystem" title="系统内置">
                    <option value="">系统内置</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
			</div>

			<button id="search-btn" class="btn btn-info">
				<i class="glyphicon glyphicon-search"></i> 搜索
			</button>
		</div>
    </div>
    <table id="admin_user_table"></table>
</aside>
</body>
</html>
