<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Admin User List</title>
</head>
<body>
<aside class="list-sidebar" th:fragment="list-modal">
    <div id="toolbar">
        <div id="button-group">
			<button id="add" class="btn btn-info">
				<i class="glyphicon glyphicon-plus"></i> 添加
			</button>
			<button id="remove" class="btn btn-info" disabled>
				<i class="glyphicon glyphicon-remove"></i> 删除
			</button>
		</div>

		<div id="search-group" style="margin-left: -2%;margin-top: 1%;">
            <div class="form-group col-xs-3 col-md-3">
				<input type="text" class="form-control" id="loginName" placeholder="登录名">
			</div>

			<div class="form-group col-xs-3 col-md-3">
				<input type="text" class="form-control" id="email" placeholder="邮箱">
			</div>

			<div class="form-group col-xs-3 col-md-3">
				<input type="text" class="form-control" id="nickName" placeholder="昵称">
			</div>

			<button id="search" class="btn btn-info" disabled>
				<i class="glyphicon glyphicon-search"></i> 搜索
			</button>
		</div>
    </div>
    <table id="tableId"></table>
</aside>
</body>
</html>
